:root {
  --cor-header: #d5704e;
  --cor-main: #3498db;
  --cor-footer: rgb(244, 108, 237);
  --cor-section: #97f46c;
  --cor-primaria: #3498db;
  --cor-navActive: rgba(192, 209, 248, 0.837);

  --cor-titleForm: rgba(33, 64, 106, 0.985);
  --cor-infoForm: rgb(61, 74, 115);

  --fonte-principal: 'Roboto', sans-serif;
  --c: 'Poppins', sans-serif;
}
