:root {
  --hue: 216;

  --cor-header: #ffffff;
  --cor-main: ;
  --cor-footer: #ffffff;
  --cor-section: #2592ffa7;
  --cor-primaria: #3498db;
  --cor-navActive: rgba(192, 209, 248, 0.837);

  --cor-logo-strong: hsl(var(--hue) 36% 47%);
  --cor-logo: hsl(var(--hue) 41% 25%);

  --cor-titleForm: rgba(38, 63, 107, 0.95);
  --cor-infoForm: rgba(104, 125, 165, 1);

  --fonte-principal: 'Roboto', sans-serif;
  --fonte-secundaria: 'Poppins', sans-serif;
}
