/* Geral */
@import url('./globalStyles.css');

* {
  box-sizing: border-box;
  margin: 0;

  list-style: none;
  text-decoration: none;

  font-family: var(--fonte-principal);
}

body {
  display: flex;
  flex-wrap: wrap;

  background-color: var(--cor-principal);

  color: #333;
  line-height: 1.6;
}

/* Cabeçalhos */

header {
  display: flex;
  padding: 0px 10px;
  height: 10vh;
  flex: 1 1 100vw;

  justify-content: space-between;
  align-items: center;

  background-color: var(--cor-header);
  color: rgb(0, 0, 0);
  box-shadow: 0px 5px 10px #888888 !important;
}

.logo h2 {
  color: var(--cor-logo-strong);
  font-weight: 500;
}

.logo span {
  color: var(--cor-logo);
}

#openMenu,
#closeMenu {
  display: none;
  border: 0;
  margin: 0;
  padding: 0;

  cursor: pointer;

  font-size: 24pt;

  background: none;
}

ul {
  display: flex;
  gap: 20px;
}

/* Conteúdo */

main {
  display: flex;
  flex: 25 1 600px;
  flex-wrap: wrap;
  min-height: calc(100vh - 20vh);

  padding: 10px;

  background-color: var(--cor-main);
}

/* Menu Lateral */

section {
  flex: 1 1 200px;

  background-color: var(--cor-section);
}

/* Rodapé */

footer {
  display: flex;
  flex: 1 1 100vw;
  padding: 10px;
  height: 10vh;

  background-color: var(--cor-footer);
  box-shadow: 5px 0px 10px #888888 !important;
}

/* Ativação de Botões para o JS */

/* Botão Hamburger ativo */

button.active {
  display: none !important;
}

nav.active {
  display: block !important;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--cor-navActive);
}

ul.active {
  display: flex !important;
  flex-direction: column;
  align-items: center;

  height: 100%;
  gap: 20px;

  justify-content: center;
}

/* Ativar botão Fechar */

.closeMenuActive {
  display: block !important;
  position: absolute;
  top: 10px;
  right: 10px;

  font-size: 24pt;
}

@media (max-width: 600px) {
  #openMenu {
    display: block;
  }

  nav {
    display: none;
  }
}
