.modalView {
  display: block;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.viewForm {
  background: #fff;
  margin: 10px auto 10px auto;

  padding: 20px;
  width: 75vw;
  border-radius: 8px;
  position: relative;
}

#inforevte {
  width: 200px;
  outline: none;
  border: 1px solid rgba(255, 68, 0, 0.407);
  box-shadow: none;
  text-align: center;

  background-color: #c9755d;
  color: #fff;
}

label.titleView {
  display: block;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
}

input:read-only {
  font-family: 'Poppins' sans-serif;
  color: rgba(104, 125, 165, 1);
  font-weight: 500;
}

input.view {
  margin: 0;
  width: 200px;
  outline: none;
  border: 0;
  border-bottom: 1px solid #4545458b;
  box-shadow: none;
  text-align: left;

  font-family: var(--fonte-secundaria);
  font-size: 11pt;

  font-weight: 400;
}

.dadosEmpreendimentoView {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  border: 1px solid #45454550;
  gap: 15px;
  padding: 1rem;
  border-radius: 5px;
}
.dadosEmpreendimentoView input {
  width: 300px;
}

.contatoView {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  border: 1px solid #45454550;
  gap: 15px;
  padding: 1rem;
  border-radius: 5px;
}

.dadosEvteView {
  display: grid;
  grid-template-columns: 15% 40% 15% 40%;

  gap: 15px;
  width: 100%;
  border: 1px solid #454545aa;
  margin-bottom: 20px;
  padding: 7px;
  /* text-align: center; */
}

.closeView {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-content select {
  position: relative;
  width: 31.55%;
  height: 30px;
  margin-bottom: 8px;
}
